 * {
    margin:0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
/* header */
.logo img {
    height: 95px;
    padding: 0 30px;
    margin-top: 5px;
}

.navbar {
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 100%;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    box-shadow: 5px 0 10px rga( 0, 0, 0, .6);
} 

.nav_items {
    display: flex;
    margin-right: 30px;

}
.nav_items li {
    border-radius: 3px;
    margin: 0 5px;
}

.nav_items li a {
    padding: 7px 13px;
    font-size: 22px;
    display: block;
    text-transform: uppercase;
    color: rgb(72, 46, 46);
}

.nav_items li:hover {
    background-color: rgba(196, 96, 15, 0.183);
    transition: .4s;    
}
li.active {
    border: solid 1px rgb(72, 46, 46);
}
.btn_menu {
    margin-right: 50px;
    font-size: 25px;
    color: rgb(72, 71, 71);
    cursor: pointer;
    display: none;
}
ul.show {
    top: 80px;
}

/* media header */
@media screen and (max-width: 920px) {
    .navbar {
        height: 95px;
    }
    .logo img {
        padding: 0px 20px;
        height: 90px ;
    }
    .nav_items li a {
        font-size: 20px;
    }
}

@media screen and (max-width: 800px) {
    .logo img {
        height: 75px;
    }
    .navbar {
        height: 80px;
    }
    .btn_menu {
        display: inline-flex;
    }
    .nav_items {
        position: absolute;
        width: 100%;
        overflow: hidden;
        height: calc(100%-80px);
        background-color: #ef7c6a;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;

    }
    .nav_items li {
        margin:30px 0 0 0;
        line-height: 30px;
    }
    .nav_items li:hover {
        background: none;
    }
    .nav_items li a {
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }
    .nav_items li a:hover {
        color: #f5e4bb;
    }
    li.active {
        border: none;
    }
}
@media screen and (max-width:800px) and (orientation:landscape) {
    .nav_items li {
        margin: 5px 0 0 0;
    }
    .nav_items {
        overflow: scroll;
        height: calc(100%-80px);
    }
    
}

/*main */

.bg_galeria {
    width: 100%;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/eventos/9_copia.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 400px;
}
.bg_galeria h1 {
    color: #fff;
    font-size: 58px;
    font-family: 'Libre Baskerville', serif;
}


.galeria {
    margin: 3px 0;
    background: url(images/estrellas.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    width: 100%;
    max-width: 100vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(50px,auto) repeat(2, 1fr) minmax(50px,auto) repeat(3, 1fr);
    grid-gap: 15px;
    padding: 15px 15px 50px 15px;
}
.galeria img {
    width: 100%;
    border-radius: 10px;
    border: solid 2px #fff;
}
.title_gal {
    grid-column: 1/-1;
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 15px;
    text-shadow: 0 0 4px black;
    
}

/* media galeria */
@media screen and (max-width: 920px) {
    .bg_galeria {
        height: 300px ;
    }
    .galeria {
        grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(40px,auto) repeat(3, 1fr) minmax(40px,auto) repeat(4, 1fr);
    grid-gap:10px;
    padding: 10px;
    }
    .oculto {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .bg_galeria {
        height: 200px;
    }
    .bg_galeria h1 {
        font-size: 40px;
    }
    .galeria {
        grid-gap: 5px;
        padding: 5px;
    }
}

/* Footer */
.pie_pagina {
    width: 100%;
    max-width: 100vw;
    background-color: rgb(30, 29, 29);
    padding: 20px;
    height: 100%;
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    grid-template-rows: 1fr;
}

.logo_footer img {
    width: 170px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0 15px 20px;
}

.box a {
    display: flex;
    align-items: center;
    color: rgb(201, 200, 200);
    max-width: max-content ;

}
.box h4 {
    font-size: 20px;
    color: #fff;
}
.box ul li {
    padding: 3px;
    color: rgb(201, 200, 200);
}
.box ul li a:hover {
    color: #fff;
}



/* Media footer */
@media screen and (max-width: 920px) {
    .pie_pagina {
        display: grid;
        grid-template-columns:  repeat(3, 1fr);
        grid-template-rows: 110px 1fr;
        padding: 15px;
    }
    .logo_footer {
        grid-column: 1/-1;
        padding-left: 30px;
    }
    .logo_footer img {
        width: 120px;
    }
    .box  {
        padding: 0;
        padding-left: 30px;

    }
    .box img {
        width: 48px;
    }
}

@media screen and (max-width: 800px) {
    .pie_pagina {
        display: grid;
        grid-template-columns:  1fr;
        grid-template-rows: 150px repeat(3,1fr);
    }
    .logo_footer {
        padding-left: 20px;
    }
    .logo_footer img {
        width: 170px;
    }
    .box  {
        padding: 20px 0 20px 20px;
    }

}